
<!doctype html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="shortcut icon" href="/asset/favicon.png">
  </head>

  <body>

    <% include ./partial/navbar %>
    <div class="pb-8">
      <%- body -%>
    </div>
    <% include ./partial/footer %>
    <% include ./partial/javascriptOnly %>
  </body>

  
</html>