<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-image: url(/asset/bg2.jpg); background-size: 100%;" id="navbar-gap">
    <div class="container">
      <h1 class="text-danger"><strong>PT. Gelora Putra Perkasa</strong></h1>
      <p>Distributor resmi produk pelumas PT Pertamina Persero</p>
      <p><a class="btn btn-outline-danger btn-sm" href="/about" role="button">Selengkapnya &raquo;</a></p>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->


  <!-- <div class="row featurette">
    <div class="col-md-7">
      <h4 class="featurette-heading">FASTRON GOLD. <span class="text-muted">SAE 0W-20 API SN/GF-5.</span></h4>
      <p class="lead">is an ultra high quality engine oil formulated from synthetic base oil and selected additives with the highest performance level API Service Category; API SN &amp; ILSAC GF-5.</p>
        <div class="column">
          <p><strong>SUPERIORITIES</strong></p>
          <ul class="a">
            <li>
            <p>Very stable multigrade viscosity that makes the engine work at optimum level.</p>
            </li>
            <li>
            <p>Excellent oxidation and thermal stability that extend the oil drain interval.</p>
            </li>
            <li>
            <p>Low evaporation level that makes oil more economic.</p>
            </li>
            <li>
            <p>Prevents piston deposit formation that keeps engine reliability.</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-md-5">
      <img src="/asset/fastrongold.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" class="d-inline-block align-top" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h4 class="featurette-heading">FASTRON GOLD. <span class="text-muted">SAE 0W-20 API SN/GF-5.</span></h4>
      <p class="lead">is an ultra high quality engine oil formulated from synthetic base oil and selected additives with the highest performance level API Service Category; API SN &amp; ILSAC GF-5.</p>
      <div class="column">
        <p><strong>SUPERIORITIES</strong></p>
        <ul class="a">
          <li>
          <p>Very stable multigrade viscosity that makes the engine work at optimum level.</p>
          </li>
          <li>
          <p>Excellent oxidation and thermal stability that extend the oil drain interval.</p>
          </li>
          <li>
          <p>Low evaporation level that makes oil more economic.</p>
          </li>
          <li>
          <p>Prevents piston deposit formation that keeps engine reliability.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/asset/fastrongold.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" class="d-inline-block align-top" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h4 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h4>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"></rect><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
    </div>
  </div> -->

  <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/asset/olithumbnail.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                    <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/asset/olithumbnail1.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                          <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                        </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/asset/olithumbnail2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                          <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                        </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/asset/olithumbnail3.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                          <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                        </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/asset/olithumbnail4.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                          <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                        </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/asset/olithumbnail.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <p class="card-text">Fastron Gold SAE OW-20 Adalah minyak lumas mesin kendaraan bermutu tinggi yang diformulasikan dari base oil sintetik.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger ">Detail</button>
                          <button type="button" class="btn btn-sm btn-danger">Pesan</button>
                        </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- /END THE FEATURETTES -->

</div>