<!-- <footer class="container">
  <p></p>
</footer> -->

<!-- <footer class="footer">
  <div class="container">
    <span class="text-light">&copy;2019 PT. Gelora Putra Perkasa</span>
  </div>
</footer> -->

<!-- Footer -->
<footer class="footir page-footer font-small danger-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">PT. Gelora Putra Perkasa</h6>
          <p>PT. Gelora Putra Perkasa adalah anak cabang dari Gelora Group yang bergerak dibidang pelumas. Kami adalah distributor resmi produk pelumas PT Pertamina Persero.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            Fastron Gold
          </p>
          <p>
            Fastron Platinum
          </p>
          <p>
            Prima XP Sae
          </p>
          <p>
            Fastron Techno
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>Jl. RE. Martadinata 79 Cilacap</p> 
            <p>gelora.pelumas[at]gmail.com</p>
            <p>telp 0282 - 533600</p>
            <p>fax 0282 - 533201</p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Directions</h6>
          <div id="pattern" class="pattern">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.532249161534!2d109.00070811434351!3d-7.733226694426024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6512868f2a4deb%3A0xaec8ff649a10f3b4!2sPT.+Gelora+Putra+Perkasa!5e0!3m2!1sid!2sid!4v1547021425219" width="260" height="140" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2019 Copyright 
              <strong> Gelora Putra Perkasa</strong>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-md-right">
              <img src="/asset/lub.png" width="200" height="110" class="d-inline-block align-top" alt="">
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->