<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-gelora">
  <a class="navbar-brand" href="#">
    <img src="/asset/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Gelora
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav navbar-nav ml-auto">

    <% if (!user) { %>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Signup/Login
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/signup">Signup</a>
        <a class="dropdown-item" href="/login">Login</a>
      </div>
    </li>

    <% } else { %>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.profile.name %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </li>

    <% } %>

  </ul>
</nav>